{% extends 'plants/base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <h1>Plants</h1>
    <div class="row">
    {% for plant in plants %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static plant.image %}" alt="image of the plant">
                <div class="card-body">
                     <h5 class="card-title"> {{ plant.title }}</h5>
                     <a href="{% url 'plants:plant_detail' plant.pk %}"
                        class="btn btn-primary">
                            Read More
                     </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}